@import "../../../styles//variables";
@import "../../../styles//screensize";

.container {
  width: 100%;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  .inner_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    padding-top: 20vh;
    @include mobileSS {
      padding-top: 0px;
      width: 90%;
      flex-direction: column;
    }
    .image {
      width: 50%;
      display: flex;
      align-items: flex-start;
      @include mobileSS {
        width: 70%;
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 500px;
        filter: grayscale(100%) sepia(100%) hue-rotate(243deg) saturate(100%);
        @include mobileSS {
          height: 400px;
        }
      }
    }
    .text_content {
      //   background-color: antiquewhite;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 50px;
      @include mobileSS {
        width: 90%;
      }
      h1 {
        font-size: 50px;
        padding-bottom: 40px;
      }
      p {
        font-size: 30px;
        font-weight: 100;
        padding-bottom: 40px;
      }
      .link {
        padding-bottom: 40px;
        input {
          padding: 15px 35px;
          border-style: none;
          border-radius: 5px;
          background-color: $primaryColor;
          color: #fff;
          &:hover {
            color: #fff;
            background-color: $background1;
            border: 2px solid #fff;
          }
        }
      }
    }
  }
}
