@import "../../../styles//variables";
@import "../../../styles//screensize";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .inner_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-top: 1px solid $secondaryColor;
    padding-top: 50px;
    .social_links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        margin: 0px 20px;
        font-size: 30px;
      }
    }
    .text_content {
      //   background-color: antiquewhite;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 50px;
      p {
        font-size: 15px;
        font-weight: 100;
        padding-bottom: 40px;
      }
    }
  }
}
